// 登录css
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "微软雅黑";
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #707a95;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #707a95;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #707a95;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #707a95;
}

a,
img,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input,
textarea {
  -webkit-appearance: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fbfbfb inset;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  color: #363330;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 15px;
  height: 15px;
  background: #f8f8f8;
  border-radius: 2px;
  /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);*/
  line-height: 150%;
  border: 1px solid #4385F8;
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '✔';
  position: absolute;
  top: 0px;
  left: 7px;
  font-size: 12px;
  color: #39f;
  transition: all .2s;
  line-height: 150%;

  font-weight: bold;
}

[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked+label:after {
  color: #999;
}

[type="checkbox"]:disabled+label {
  color: #aaa;
}

[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {}

.register_immediately[disabled] {
  background: #EEEEEE!important;
  color: #ccc!important;
}






/*提示框*/

.toast-container {
  /*width: 800px;*/
  /*min-width: 250px;*/
  display: inline-block;
  z-index: 9999;
}

.toast-container2 {
  width: 300px;
}

.toast-container * {
  padding: 0;
  margin: 0;
}

.toast-item-wrapper {
  /*min-width: 200px;*/
  height: auto;
  background: #FFFFFF;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #EEEEEE\9;
  background: #FFFFFF\9;
  font-size: 14px;
  line-height: 40px;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);*/
  margin-top: -100px;
  margin-bottom: 10px;

  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -140px;
  z-index: 1000;
}

.toast_success {
  background: #DFF0D8;
  color: #3C763D;
  border: 1px solid #D6E9C6;
}

.toast_error {
  background: #F2DEDE;
  color: #AE5A56;
  border: 1px solid #EBCCD1;
}

.toast_success,
.toast_error {
  width: 400px;
  height: 50px;
  line-height: 50px;
}

.toast-item-wrapper2 {
  box-sizing: border-box;
  width: 300px;
  padding: 5px;
  height: auto;
  background: #FFFFFF;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #EEEEEE\9;
  background: #FFFFFF\9;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  margin-left: 500px;
  margin-bottom: 10px;
  border-left: 4px solid #4385F8;
}

.toast-item .title {
  font-weight: bold;
  line-height: 40px;
}

.toast-item:after {
  content: "";
  clear: both;
  display: block;
  zoom: 1;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

.toast-item .toast-item-text {
  min-width: 120px;
  font-size: 14px;
  margin-left: 10px;
  padding: 0 10px;
  word-break: break-all;
}

.toast-item .toast-item-text div {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.toast-item-close {
  background: url(toast/close2.png) no-repeat center center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.toast-item-image {
  width: 40px;
  height: 40px;
  display: none;
}

.toast-item-image-notice {
  background: #50BFFF url(toast/notice.png) no-repeat center center;
}

.toast-item-image-success {
  background: #00CC66 url(toast/success.png) no-repeat center center;
}

.toast-item-image-warning {
  background: #FF9900 url(toast/warning.png) no-repeat center center;
}

.toast-item-image-error {
  background: #FF5500 url(toast/error.png) no-repeat center center;
}

.notice-item-image-info {
  background: url(toast/notice2.png) no-repeat center center;
}

.notice-item-image-success {
  background: url(toast/success2.png) no-repeat center center;
}

.notice-item-image-warning {
  background: url(toast/warning2.png) no-repeat center center;
}

.notice-item-image-error {
  background: url(toast/error2.png) no-repeat center center;
}

.toast-position-top-left {
  position: fixed;
  left: 20px;
  top: 20px;
}

.toast-position-top-center {
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -140px;
}

.toast-position-top-right {
  position: fixed;
  top: 20px;
  right: 25px;
}

.toast-position-middle-left {
  position: fixed;
  left: 20px;
  top: 50%;
  margin-top: -40px;
}

.toast-position-middle-center {
  position: fixed;
  left: 50%;
  margin-left: -140px;
  margin-top: -40px;
  top: 50%;
}

.toast-position-middle-right {
  position: fixed;
  right: 20px;
  margin-left: -140px;
  margin-top: -40px;
  top: 50%;
}

.toast-position-bottom-left {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.toast-position-bottom-center {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -140px;
}

.toast-position-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}





/*提示框*/


/*针对IE7、8做的css*/

.login_win {
  /**width: 500px!important;*/
}

.IE_win {
  width: 100%;
}

.IE_win td.lable_name {
  width: 100px;
  display: none;
  /**display: block;
  display: block\9;*/
}

.IE_win2 td.lable_name {
  width: 170px;
  vertical-align: top;
}

.IE_win td.lable_name span {
  display: block;
  /*width: 100px;*/
  font-size: 14px;
  color: #707a95;
  text-align: right;
  line-height: 55px;
}


.game-name {
  margin-right: 15px;
  color: grey;
}


.win {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  /*background: url(login_register.jpg) no-repeat center center;*/
  /*position: fixed;
  top: 0;
  left: 0;*/
}

.login_win {
  width: 400px;
  /*height: 380px;*/
  /*position: fixed;
  top: 50%;
  left: 50%;
  margin: -190px 0 0 -200px;
  z-index: 999;*/
  margin: auto;
  z-index: 99;
  position: relative;
  /*transition: all 0.5s ease-in-out;*/
  /*border: 1px solid red;*/
  background: #fff;
}

.login_title {
  width: 100%;
  height: 120px;

  /*border: 1px solid red;*/
}

.login_title2 {
  height: auto;
  text-align: center;
}

.login_title img {
  display: block; // width: 100%;
  margin: auto;
}

.login_title span {
  display: block;
  text-align: center;
  font-size: 28px;
  color: #707a95;
  line-height: 60px;
}

.details {
  width: 220px;
  border: 1px solid #eee;
  position: absolute;
  top: -1px;
  right: -230px;
  *right: -250px;
  padding: 10px;
  background: #fff;
  line-height: 20px;
  z-index: 99;
  display: none;
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, .1);
}

.details i {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 50%;
  margin-top: -7px;
  left: 13px;
  border-width: 7px;
  margin-left: -20px;
  border-right-color: #fff;
  border-left-width: 0;
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, .1);
}

.details span {
  display: block;
  color: #a1a1a1!important;
  font-size: 14px;
}








.form_win,
.register,
.retrieval_password {
  width: 100%;
  display: none;
  /*height: 400px;*/
  /*background-color:#FFFFFF;*/
  /*border-radius: 10px;*/
  /*box-shadow: 0 0 5px 2px rgba(0,0,0,.1);*/
  /*border: 1px solid red;*/
}

.company,
.pas,
.picture,
.tel,
.sms_code {
  height: 55px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding-left: 40px;
  position: relative;
}

.validation_info {
  width: 200px;
  height: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: -200px;
  color: #e6614f;
  padding-left: 10px;
}

.validation_right {
  background: url(validation_right.png) no-repeat 10px center;
}

.register .company,
.register .pas,
.register .picture,
.register .tel,
.register .sms_code,
.register .agree_service {
  padding: 0px 10px;
}

.retrieval_password .tel,
.retrieval_password .picture,
.retrieval_password .sms_code {
  padding: 0px 10px;
}

.form_win .tel {
  background: url(user.png) no-repeat 10px center;
}

.form_win .pas {
  background: url(password.png) no-repeat 10px center;
}

.login_win input {
  display: block;
  border: 0;
  outline: none;
  line-height: 20px;
  margin-top: 17px;
  width: 100%;
  /*padding-left: 40px;*/
  background: none;
  box-sizing: border-box;
  font-size: 14px;
  color: #707a95;
  float: left;
}

.register .picture,
.register .sms_code,
.retrieval_password .picture,
.retrieval_password .sms_code {
  padding-right: 150px;
  position: relative;
}

.img_num {
  width: 120px;
  height: 100%;
  /*border: 1px solid red;*/
  position: absolute;
  top: 0;
  right: 0;
}

.img_num i {
  display: block;
  float: left;
  width: 70px;
  height: 35px;
  margin-top: 10px;
  /*border: 1px solid red;*/
}

.img_num i img {
  display: block;
  width: 100%;
}

.img_num span {
  float: right;
  display: block;
  width: 40px;
  line-height: 55px;
  color: #4385F8;
  cursor: pointer;
  text-align: center;
}

.get_sms_code {
  display: inline-block;
  border-radius: 4px;
  background: #4385F8;
  width: 120px;
  height: 35px;
  border: 0;
  line-height: 35px;
  text-align: center;
  color: #fff;
  /*margin-top: 10px;*/
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.get_sms_code.wait {
  background: #eee;
  color: #828282;
}

.register .agree_service input {
  width: 20px;
  height: 20px;
  /*border: 1px solid red;*/
  margin: 0;
  background: #fff;
}

.register .agree_service label {
  *float: left;
}

.register .agree_service input {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  float: left;
  margin-right: 10px;
  padding: 0;
}

.register .agree_service a {
  color: #363330;
}

.form_win .login,
.register .register_immediately,
.retrieval_password .retrieval_ok {
  display: inline-block;
  border-radius: 4px;
  background-color: #1a65ad;
  width: 100%;
  height: 50px;
  border: 0;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
}

.operation {
  width: 100%;
  padding: 15px;
  color: #555555;
  text-decoration: none;
  font-size: 14px;
}

.retrieval_password .operation {
  padding-right: 0;
}

.operation a {
  display: block;
  float: left;
  width: 49%;
  color: #555555;
  text-decoration: none;
  font-size: 14px;
}

.form_win .operation a.forget,
.register .operation a.text {
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid #D8D5D5;
}

.register .operation2 a.text {
  padding-right: 0px;
  border-right: 0;
  display: inline-block;
  width: auto;
}

.form_win .operation a.register_new_user,
.register .operation a.sign_in,
.register .operation a.new_user,
.register .operation a.binding {
  text-align: left;
  padding-left: 10px;
  color: #555;
  text-decoration: underline;
}

.register .operation2 a.binding {
  padding-left: 0px;
  display: inline-block;
  width: auto;
  color: #e6614f;
}

.retrieval_password .operation a.sign_in,
.retrieval_password .operation a.new_user {
  float: right;
  text-align: right;
  color: #4385F8;
}

.record_number {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  text-align: center;
  color: #555555;
  z-index: 100;
}

.record_number a {
  color: #555555;
  font-size: 12px;
}

.bg_img {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
}

.bg_img1 {
  position: fixed;
  top: 0;
  left: 30px;
  width: 300px;
  /*height: 200px;*/
  /*border: 1px solid red;*/
  transition: all 0.5s ease-in-out;
}

.bg_img2 {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 250px;
  /*height: 250px;*/
  /*border: 1px solid red;*/
  transition: all 0.5s ease-in-out;
}

.bg_img3 {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 320px;
  /*height: 450px;*/
  /*border: 1px solid red;*/
  transition: all 0.5s ease-in-out;
}

.bg_img1 img,
.bg_img2 img,
.bg_img3 img {
  display: block;
  width: 100%;
}

.bg_img img {
  display: block;
  width: 100%;
  height: 100%;
}

.login_info {
  padding: 5px 0 0 5px;
  font-size: 14px;
  color: red;
  display: none;
}




/*二维码登录*/

.wx_login {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.wx_login span {
  display: inline-block;
  color: #707a95;
  line-height: 30px;
  font-size: 14px;
  padding-left: 30px;
  background: url(icon_wx.png) no-repeat 0 center;
}

.wx_login .login_container {
  background: #fff;
  border: 1px solid #D7DDE4;
  width: 100%;
  position: absolute;
  left: 0;
  top: -415px;
  transition: all 0.5s ease-in-out;
  display: none;
}

.fadeInUp {
  display: block!important;
}

.fadeOutUp {
  display: none!important;
}

.wx_login .arrow,
.wx_login .arrow b {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -10px;
  left: 50%;
  border-width: 7px;
  margin-left: -7px;
  border-top-color: #D7DDE4;
  border-bottom-width: 0;
  z-index: 99;

  transition: all 0.5s ease-in-out;
}

.wx_login .arrow {
  display: none;
}

.wx_login .arrow b {
  border-top-color: #fff;
  top: -9px;
}





/*娓呴櫎娴姩鏍峰紡*/

.clear:after {
  content: "";
  clear: both;
  display: block;
  zoom: 1;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

@media screen and (max-width:900px) {
  .bg_img2,
  .bg_img3 {
    display: none;
  }
}

@media screen and (max-width:960px) {
  .login_win {
    width: 400px;
    /*margin: -190px 0 0 -200px;*/
  }
  .bg_img1 {
    width: 300px;
  }
  .bg_img2 {
    width: 200px;
  }
  .bg_img3 {
    width: 250px;
  }
}


@media screen and (max-width:640px) {
  .login_win {
    width: 400px;
    /*margin: -190px 0 0 -200px;*/
  }
  .bg_img1 {
    width: 250px;
  }
  .bg_img2 {
    width: 150px;
    left: 5px;
  }
  .bg_img3 {
    width: 200px;
  }
}

@media screen and (max-width:415px) {
  .login_win {
    width: 350px;
    /*margin: -190px 0 0 -175px;*/
  }
  .bg_img1 {
    width: 200px;
  }
  .bg_img1,
  .bg_img2,
  .bg_img3 {
    display: none;
  }
}

@media screen and (max-width:320px) {
  .login_win {
    width: 300px;
    /*margin: -190px 0 0 -150px;*/
  }
}

.bd-navbar {
  min-height: 4rem;
  background-color: #f08000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.left-sidebar {
  -ms-flex-order: 0;
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.bg-set {
  background: #fff;
}

span.icon-fen {
  font-size: 24px;
  /* margin: 20px 22px 0 20px; */
  display: inline-block;
  float: left;
  width: 26px;
  /* border: 1px solid red; */
  /* height: 22px; */
  margin-right: 49px;
  width: 25px;
  height: 22px;

  background: url(https://www.talkingdata.com/tracking-web/web/image/left_nav_app_ranking_normal.png);
  background-size: cover;
}

.back-c {
  background: url(../img/back.png) no-repeat;
  width: 100px;
  height: 100px;
}

.data-bg {
  background: url(../img/activity.png) no-repeat;
  width: 32px;
  height: 29px;
  background-size: contain;
  display: inline-block;
  margin-right: 11px;
}

.touxinag-set {
  width: 17px;
  height: 17px;
  background: url(../img/pep.png)no-repeat;
  background-size: contain;
  display: inline-block;
}

span.people-set {
  color: #ffffff;
  margin-left: 7px;
  margin-right: 13px;
}

.exit {
  color: #f4eee2;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 4rem;
}

div.right-ope {
  float: right; // margin-right: 6rem;
  display: inline-block; // width: 200px;
  // height: 52px;
}

.newbuilt {}

.xinjian {
  display: inline-block;
  padding: 8px 24px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #808080;
  background-color: #fff;
  border-color: #e0e4ea;
}

.bt-md {
  background-color: white;
  color: #808080;
}

.search {
  /* float: left; */
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  color: #808080;
  width: 190px;
  padding: 0 10px 0 30px;
  border: 1px solid #e0e4ea;
  border-radius: 2px;
  margin-right: 20px;
  background: #fff url(https://www.talkingdata.com/tracking-web/webapp/images/icon-search.png) no-repeat 7px 9px;
}

.nav-title {
  background-color: white;
  height: 38px;
  width: 100%;
  position: fixed;
  z-index: 99999;
}

.nav-list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 5px;
}

.nav-list li {
  padding-right: 7px;
  padding-left: 5px;
}

.bg-sets {
  background-color: #eff0f3;
  min-height: 900px;
}

.rebulit-content {
  background-color: white;
  width: 100%;
  height: 600px;
  /* margin: 105px; */
  margin: 0 auto;
  /* border: 1px solid red; */
  margin-top: 50px;
}

.lines {
  border: 1px solid #e9ecef;
  margin-bottom: 12px;
}

.rebulit-lists {
  margin: 72px;
}

.formbox {
  /* margin-bottom: 10px; */
  padding-top: 22px;
}

.formbox label {
  width: 107px;
    /* text-align: end; */
    height: 34px;
    line-height: 34px;
}

.formbox .inputbox {
  margin-left: 70px;
  position: relative;
  /*z-index: 0;*/
}

.lnglabel {
  margin-top: 20px;
}

.lnglabel label {
  width: 98px;
}

.formbox .inputbox input {
  border: .8px solid #d9d9de;
  background-color: #fff;
  height: 34px;
  line-height: 34px;
  padding-left: 5px;
  border-radius: 3px;
  width: 55%;
  font-size: 14px;
}

.fl-l {
  float: left;
}

.formbox .submit {
  /* width: 100%; */
  width: 145px;
  height: 45px;
  /* line-height: 45px; */
  background-color: #1a65ad;
  text-align: center;
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  /* margin: 20px auto 0; */
  /* height: 100%; */
  display: block;
  /* position: absolute; */
  /* text-align: center; */
  font-size: 16px;
  /* font-weight: bolder; */
  /* color: #fff; */
  /* line-height: 48px; */
  border: 1px solid #1a65ad;
}

.tuiguang {
  margin-bottom: 11px;
  display: inline-block;
}

.star {
  padding-right: 11px;
}

.star img {
  width: 20px;
  height: 20px;
}

.tuiguang-search {
  display: inline-block;
  padding-bottom: 5px;
}

select {
  border: solid 2px #ebe9e4;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 14px;
    background: url(http://ourjs.github.io/static/2015/arrow.png) no-repeat scroll right center transparent;
    border-radius: 10px;
}


select::-ms-expand {
  display: none;
}

select,
button {
  font-size: 100%;
  font-family: inherit;
}

select {
  margin: inherit;
}

.system {
     width: 55%;
    height: 46px;
    color: #212529;
    font-size: 16px;
    padding-left: 13px;
    outline: none;
}